importFrom("ggplot2", ggsave, ggplot, aes, aes_string, opts, geom_abline, geom_density, geom_density2d, geom_histogram, geom_hline, geom_line, geom_point, geom_ribbon, geom_rug, geom_vline, scale_x_continuous, scale_y_continuous, facet_wrap, coord_equal)
importFrom("mvtnorm", rmvnorm)
importFrom("stats", hclust, princomp)
importFrom("seqinr", read.abif)
importFrom("signal", specgram)
importFrom("vegan", vegdist)
importFrom("xtable", xtable, print.xtable)
importFrom("zoo", rollmax)
exportClasses("AFLP", "AFLP.outlier")
exportMethods(addOutliers, border, fluorescence, "fluorescence<-", hclust, markers, outliers, princomp, QC, "QC<-", quality, "quality<-", replicates, "replicates<-", resid, residuals, specimens)
export(addOutliers, AFLP.outlier, as.AFLP, border, "border<-", classify, clean, defineBins, dummySlabgel, fluorescence, "fluorescence<-", ggsave.latex, is.AFLP, markers, normalise, outliers, QC, "QC<-", quality, "quality<-", randomiseCapilar, randomiseSlabgel, rbind.AFLP.outlier, readABI, read.fsa, read.fsa.bins, readSAGA, repeatability, replicates, "replicates<-", specimens)
