export(AFLP)
export(AFLP.outlier)
export(as.AFLP)
export(borderProbability)
export(classify)
export(clean)
export(defineBins)
export(dummySlabgel)
export(ggsave.latex)
export(is.AFLP)
export(normalise)
export(randomiseCapilar)
export(randomiseSlabgel)
export(rbind.AFLP.outlier)
export(read.fsa)
export(read.fsa.bins)
export(readABI)
export(readSAGA)
export(repeatability)
exportClasses(AFLP)
exportClasses(AFLP.outlier)
exportMethods("border<-")
exportMethods("fluorescence<-")
exportMethods("QC<-")
exportMethods("quality<-")
exportMethods("replicates<-")
exportMethods(addOutliers)
exportMethods(border)
exportMethods(fluorescence)
exportMethods(hclust)
exportMethods(markers)
exportMethods(outliers)
exportMethods(princomp)
exportMethods(QC)
exportMethods(quality)
exportMethods(replicates)
exportMethods(resid)
exportMethods(residuals)
exportMethods(specimens)
importClassesFrom(lme4,summary.mer)
importFrom(ggplot2,aes)
importFrom(ggplot2,aes_string)
importFrom(ggplot2,facet_wrap)
importFrom(ggplot2,geom_abline)
importFrom(ggplot2,geom_density)
importFrom(ggplot2,geom_histogram)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,geom_ribbon)
importFrom(ggplot2,geom_rug)
importFrom(ggplot2,geom_vline)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,ggsave)
importFrom(ggplot2,ggtitle)
importFrom(ggplot2,scale_x_continuous)
importFrom(ggplot2,scale_y_continuous)
importFrom(lme4,lmer)
importFrom(lme4,ranef)
importFrom(mvtnorm,rmvnorm)
importFrom(plyr,.)
importFrom(plyr,d_ply)
importFrom(plyr,ddply)
importFrom(plyr,dlply)
importFrom(plyr,is.formula)
importFrom(plyr,ldply)
importFrom(plyr,rlply)
importFrom(reshape,cast)
importFrom(reshape,melt)
importFrom(reshape,melt.data.frame)
importFrom(reshape,recast)
importFrom(seqinr,read.abif)
importFrom(signal,specgram)
importFrom(vegan,vegdist)
importFrom(xtable,print.xtable)
importFrom(xtable,xtable)
importFrom(zoo,rollmax)
importMethodsFrom(lme4,summary)
